<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="nath">
  <test thread-count="5" name="Test">
    <classes>
      <class name="TestNG.example5_keyword5_dependsOnMethod1"/>
      <class name="TestNG.example5_keyword1_invocationCount"/>
      <class name="TestNG.example4_Annotations"/>
      <class name="TestNG.example5_keyword3_priority2"/>
      <class name="TestNG.example5_keyword2_enabled"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- nath -->
